/* CSS Reset
 * https://www.joshwcomeau.com/css/custom-css-reset/
 */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
    margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* Center */
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    min-height: 100vh;
}

/* TODO move to separate file */
.controls {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;

    div:nth-child(1) {
        datalist {
            display: flex;
            justify-content: space-between;
        }

        /* Hide number input arrows */
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type="number"] {
            width: 5ch;
            padding: 0;
            text-align: center;
            -moz-appearance: textfield;
        }

        .trustContainer {
            display: flex;
            justify-content: space-between;
        }
    }

    div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    ul {
        list-style-type: none;
        display: flex;
        align-self: end;
        gap: 18px;
        text-transform: capitalize;

        li {
            display: flex;
        }

        label {
            padding-left: 8px;
        }
    }
}
