.chart {
    --chart-border: 1px dashed hsl(210deg 8% 50%);

    padding-top: 0.5em;
    padding-bottom: 2em;

    display: grid;
    grid-template-columns: 4fr repeat(12, 1fr);
    justify-items: start;
    align-items: center;
    grid-gap: 2px;

    p:first-child {
        grid-column-start: 2;
    }

    * {
        width: 102%;
        height: 100%;
        position: relative;
    }

    *:after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        border-top: var(--chart-border);
        position: absolute;
        top: -1.5px;
    }

    /* Header row
     * only 12 as header row starts from 1 not 0
     * see the p:first-child rule */
    *:nth-child(-n + 12):after {
        border: none;
    }

    *:nth-last-child(-n + 13):before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        border-bottom: var(--chart-border);
        position: absolute;
        bottom: -1px;
    }

    &[data-asking="true"] {
        cursor: not-allowed;
        transition: opacity 5000ms ease-out;
        opacity: 0.25;
    }

    &[data-asking="false"] {
        opacity: 1;
    }
}

.fruit {
    text-align: left;
    color: #4ab163;
}

.vegetable {
    text-align: left;
    color: #009680;
}

/* TODO: Implement the inseason color with 50% to 100% being the first background color */
/* and 0% to 50% being the second */
.inSeason {
    background-color: color-mix(in srgb, #f5833e 0%, #f15b49);
    background-color: color-mix(in srgb, white 0%, #f5833e);
    background-color: color-mix(in hwb, white 0%, #f15b49);
}
